.button-group {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.button-group--horizontal {
  flex-direction: row;
}

.button-group--vertical {
  flex-direction: column;
}

.button-group--small {
  font-size: 12px;
}

.button-group--medium {
  font-size: 14px;
}

.button-group--large {
  font-size: 16px;
}

.button-group--contained {
  background-color: var(--surface-natural);
  border: 1px solid var(--border);
}

.button-group--outlined {
  border: 1px solid var(--border);
}

.button-group--text {
  background-color: transparent;
}